body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeeee;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

// .splashpage {
//   height: 100vh;
// }

// .nav ul li a {
//     font-size: 1.5vw;
// }

.nav-container {
  background: #032fbf;
  justify-content: space-between;

  a {
    color: #eeeeee;
  }
}

header {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;

    a {
      display: flex;
      padding: 0 0 0 1em;
    }
  }
}

.headline {
  width: 100%;
}

.social-header,
.hero-shapes {
  display: none;
}

.hero {
  background: #0840f6;
  color: #eeeeee;
  display: flex;
  padding: 3em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.recent {
  position: relative;
  margin-bottom: 2em;
}
.left {
  position: absolute;
  top: 3em;
  left: -50%;
  z-index: -1;
}

.work-type {
  text-transform: uppercase;
  font-weight: bold;
  color: #0840f6;
  letter-spacing: 1em;
}

.skill-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #0840f6;
}

.skill-desc {
  font-weight: bold;
}

.edu {
  width: 50px;;
}

//recent work

.recent-title-Nur {
  color: #ff0000;
  font-weight: bold;
  font-size: 2em;
}

.recent-title-Market {
  color: #000000;
  font-size: 1em;
  font-weight: bold;
}

.recent-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.8em;
  font-weight: 500;
}

//skills

.skills {
  background: #0840f6;
}

.skills-container ul li {
  background: #eeeeee;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 1em auto 2em auto;

    &.one {
      width: 151px;
    }
    &.two {
      width: 133px;
    }
    &.three {
      width: 132px;
    }
  }
}

.skill-title {
  font-weight: bold;
}

.skill-desc {
  margin-bottom: 2em;
}

//capstone

.capstone {
  background: #eeeeee;
  position: relative;
  z-index: 2;
}

.proj-title {
  color: #032fbf;
  font-weight: bold;
  font-size: 2em;
}

.capstone-container a img {
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 2em;
}

.proj-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 3em;
  line-height: 1.8em;
  font-weight: 500;
}

//resume

.resume {
  background: #0840f6;
  position: relative;
}

.resume-container ul li {
  background: #eeeeee;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 1em auto 2em auto;

    &.one {
      width: 151px;
    }
    &.two {
      width: 273px;
    }
    &.three {
      width: 280px;
    }
  }
}

//concept

.concept {
  background: #eeeeee;
  position: relative;
  z-index: 22;
}

.proj-title {
  color: #032fbf;
  font-weight: bold;
  font-size: 2em;
}

.concept-container img {
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.proj-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 3em;
  line-height: 1.8em;
  font-weight: 500;
}

.footer {
  background: #032fbf;
  color: #eeeeee;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .recent,
  .capstone,
  .concept {
    text-align: left;
  }
  .recent,
  .capstone-container,
  .concept-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .concept-container {
    align-items: center;
  }
  .left,
  .capstone-left,
  .concept-left {
    display: grid;
    // place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills,
  .resume {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container,
  .resume-container {
    ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 1em;
    }
  }
  .capstone,
  .concept {
    padding-top: 7em;
  }
  .capstone-container,
  .concept-container {
    img {
      margin-left: 2em;
    }
  }
}

@media only screen and (max-width: 1099px) {
  .hero {
    margin: 0 auto;
    justify-content: center;
  }
}

@media only screen and (min-width: 1100px) {
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    justify-content: space-between;
    background: unset;

    header {
      background: #032fbf;
    }
  }
  header {
    padding: 2em 1em 2em 2em;
  }
  section {
    padding: 4em;
  }

  .social-header {
    display: flex;
    padding: 2em;
    justify-content: flex-end;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .one {
        width: 30px;
      }
      .two {
        width: 35px;
      }
      .three {
        width: 21px;
      }

      li {
        padding: 0em 2em 0em 0em;
        align-items: center;
        justify-content: flex-end;

        a {
          justify-content: flex-end;

          align-items: center;
        }
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: #0840f6;
      padding: 5em 5em 5em 5em;
      // text-align: right;

      headline {
        max-width: 600px;
      }
    }
  }

  .hero-shapes {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .capstone img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1300px) {
  section {
    padding: 10em 10em 4em 10em;
  }
}

@media only screen and (min-width: 1600px) {
  header {
    padding: 2em 2em 2em 2em;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
}

.arrow {
  padding: 13em 0em 0em 0em;
  justify-content: center;
  justify-items: center;
  align-content: flex-end;
  align-items: flex-end;
}
