body {
  height:100vh;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeeee;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.nav-container {
  background: #032FBF;

  a {
    color: #eeeeee;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  ul {
    display: flex;
    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.social-header, .hero-shapes {
  display: none;
}

.hero {
  background: #0840F6;
  color: #eeeeee;
  display: grid;
  text-align: center;
  padding: 4em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.recent {
  position: relative;
}
.left {
  position: absolute;
  top: 3em;
  left: -337.5px;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #0840F6;
  letter-spacing: 1em;
}

.recent-title-Nur {
  color: #FF0000;
  font-weight: bold;
  font-size: 1em;
}

.recent-title-Market {
  color: #000000;
  font-weight: bold;
}

.recent-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 3em;
  font-size: .7em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #0840F6;
}

.skills-container ul li {
  background: #EEEEEE;
  padding: 2em;
  border-radius: 10px;
  
}