body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeeee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #032fbf;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container a {
  color: #eeeeee;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 1em;
}

.headline {
  width: 100%;
}

.social-header,
.hero-shapes {
  display: none;
}

.hero {
  background: #0840f6;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.recent {
  position: relative;
}

.left {
  position: absolute;
  top: 3em;
  left: -50%;
  z-index: -1;
}

.work-type {
  text-transform: uppercase;
  font-weight: bold;
  color: #0840f6;
  letter-spacing: 1em;
}

.recent-title-Nur {
  color: #ff0000;
  font-weight: bold;
  font-size: 2em;
}

.recent-title-Market {
  color: #000000;
  font-size: 2em;
  font-weight: bold;
}

.recent-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #0840f6;
}

.skills-container ul li {
  background: #eeeeee;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 1em auto 2em auto;
}

.skills-container ul li .icon-container.one {
  width: 151px;
}

.skills-container ul li .icon-container.two {
  width: 133px;
}

.skills-container ul li .icon-container.three {
  width: 132px;
}

.skill-title {
  font-weight: bold;
}

.skill-desc {
  margin-bottom: 2em;
}

.capstone {
  background: #eeeeee;
  position: relative;
  z-index: 2;
}

.proj-title {
  color: #032fbf;
  font-weight: bold;
  font-size: 2em;
}

.capstone-container a img {
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 2em;
}

.proj-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 3em;
  line-height: 1.8em;
  font-weight: 500;
}

.resume {
  background: #0840f6;
  position: relative;
}

.resume-container ul li {
  background: #eeeeee;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.resume-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 1em auto 2em auto;
}

.resume-container ul li .icon-container.one {
  width: 151px;
}

.resume-container ul li .icon-container.two {
  width: 273px;
}

.resume-container ul li .icon-container.three {
  width: 280px;
}

.concept {
  background: #eeeeee;
  position: relative;
  z-index: 22;
}

.proj-title {
  color: #032fbf;
  font-weight: bold;
  font-size: 2em;
}

.concept-container img {
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proj-desc {
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 3em;
  line-height: 1.8em;
  font-weight: 500;
}

.footer {
  background: #032fbf;
  color: #eeeeee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1000px) {
  .recent,
  .capstone,
  .concept {
    text-align: left;
  }
  .recent,
  .capstone-container,
  .concept-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .concept-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left,
  .capstone-left,
  .concept-left {
    display: -ms-grid;
    display: grid;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills,
  .resume {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul,
  .resume-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .capstone,
  .concept {
    padding-top: 7em;
  }
  .capstone-container img,
  .concept-container img {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 1099px) {
  .hero {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1100px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: unset;
  }
  .nav-container header {
    background: #032fbf;
  }
  header {
    padding: 2em 1em 2em 2em;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-header ul .one {
    width: 30px;
  }
  .social-header ul .two {
    width: 35px;
  }
  .social-header ul .three {
    width: 21px;
  }
  .social-header ul li {
    padding: 0em 2em 0em 0em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social-header ul li a {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #0840f6;
    padding: 5em 5em 5em 5em;
  }
  .hero .content headline {
    max-width: 600px;
  }
  .hero-shapes {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .capstone img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1300px) {
  section {
    padding: 10em 10em 4em 10em;
  }
}

@media only screen and (min-width: 1600px) {
  header {
    padding: 2em 2em 2em 2em;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
}

.arrow {
  padding: 13em 0em 0em 0em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=main.css.map */